{% load bootstrap4 %}
{% block styles%}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
{% endblock%}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
<div class="w3-container w3-cell w3-cell-middle w3-center">
  <div class="row">
    
    <div class="col-md-4">
      <h2 class="text-center" style="font-family: 'Oleo Script', cursive;">NEIGHBOR-HOOD</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% csrf_token %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}

          {% endfor %}
          <div class="text-center">
            <button type="submit" name="_submit" class="btn">Signup</button>
          </div>
          <div class="section">
            <p class="forgot">Already have an account? <a href="/accounts/login">Login</a></p>
          </div>
          <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
</div>

{% endblock %}